KAFKA_BOOTSTRAP_SERVERS=localhost:9092
RUN_MODE=loop
POLL_INTERVAL_SECONDS=900
PRODUCER_SCRIPT=github_dev_producer.py
API_SCRIPT=auth_api.py
AUTH_API_HOST=0.0.0.0
AUTH_API_PORT=8000

GITHUB_USERNAME=your-github-handle
GITHUB_TOKEN=
DEV_DEVICE_ID=github-producer
GITHUB_STATE_FILE=python-producers/.state/github.json

PLAID_CLIENT_ID=69bc951c30bcb8000d1425e5
PLAID_SECRET=081b82d74f20567de9d93e5ae555cd
PLAID_ACCESS_TOKEN=
PLAID_BASE_URL=https://sandbox.plaid.com
TXN_DEVICE_ID=plaid-producer
PLAID_STATE_FILE=python-producers/.state/plaid.json
PLAID_COUNT=100
PLAID_CLIENT_NAME=Productivity Tracker
PLAID_COUNTRY_CODES=US
PLAID_PRODUCTS=transactions
PLAID_LANGUAGE=en
PLAID_DEFAULT_USER_ID=local-user
PLAID_REDIRECT_URI=http://localhost:8000/
PLAID_SANDBOX_INSTITUTION_ID=ins_109508
PLAID_SANDBOX_USERNAME=user_transactions_dynamic
PLAID_SANDBOX_PASSWORD=pass_good
